{% extends 'base.html' %}

{% block content %}
<h2>You Made It!</h2>
<div class="user-info">
    <p>Hello, {{user.username}}</p>
    <ul>
        <li>Email - {{user.email}}</li>
        <li>First Name - {{user.first_name}}</li>
        <li>Last Name - {{user.last_name}}</li>
    </ul>
</div>
<div class="feedback">
    <h4>Feedback:</h4>
        {% for f in user.feedback %}
        <p><b>{{f.title}}</b> - 
            <br>
            {{f.content}} 
            <br>
            <a href='/feedback/{{f.id}}/update' class="badge badge-primary">Edit</a> 
            <form style="display:inline;" method="POST" action='/feedback/{{f.id}}/delete'><button type="Submit" class="badge badge-warning">Delete</button></form>
        </p>
        {% endfor %}
    <a href="/users/{{user.username}}/feedback/add" class="btn btn-secondary">Add Feedback</a>
</div>
<br>
<div class="delete-user">
    <form method="POST" action='/users/{{user.username}}/delete'><button type="Submit" class="btn btn-sm btn-danger">Delete Your Account</button></form>
</div>
{% endblock %}